@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  outline: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
@theme {
  --color-primary: #2563eb;
  --color-secondary: #1a1a1a;
  --color-tertiary: #666666;
}
